/* 基本樣式 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  margin: 50px auto;
}

.card-box {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px auto;
}

img {
  max-width: 100%;
}


@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .card-box {
    width: 30%;
  }
}
